* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Inter";
}
body {
  background: #000000;
  color: #ffffff;
}
@font-face {
  font-family: "Inter", "sans-serif";
  src: local("Inter");
  src: url("../font/Inter-Medium.ttf");
}
.header {
  height: 450px;
}

.header-top p,
a {
  text-decoration: none;
  width: 63px;
  height: 27px;
  font-weight: 600;
  font-size: 22px;
  padding-top: 27px;
  padding-left: 50px;
  color: #ffffff;
  margin-bottom: -26px;
}

.menu {
  float: right;
  list-style: none;
  padding-top: 20px;
  padding-right: 50px;
}

.menu-li li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}

.menu li {
  display: inline;
  margin-right: 10px;
}

.header-top {
  overflow: hidden;
  padding-top: 15px;
  margin-bottom: 150px;
}

.header-main {
  width: 762.29px;
  height: 66px;
  font-weight: 400;
  font-size: 34px;
  margin: 0 auto;
  text-align: center;
}

.Portfolio-text {
  font-weight: 400;
  font-size: 96px;
  text-align: center;
}

.img {
  /* убирает отступы между картинками и оставляет на 2х столбиках */
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 205px;
  align-items: center;
  width: 1130px;
}

.about-text h1 {
  font-size: 96px;
  line-height: 95.52%;
  text-align: center;
  padding-bottom: 55px;
}

.about-text p {
  width: 1117.79px;
  font-weight: 300;
  font-size: 31.3802px;
  margin: 0 auto;
  text-align: center;
}

.img-about {
  width: 1117px;
  display: flex;
  flex-wrap: row;
  margin: 100px auto 500px auto;
}

.services {
  font-size: 96px;
  text-align: center;
}

.services-text,
.services-text1,
.services-text2,
.services-text3 {
  border: 0.5px solid black;
  height: 516.95px;
  color: #000000;
  width: 558.51px;
  box-sizing: border-box;
}

.services-text h2,
.services-text1 h2,
.services-text2 h2,
.services-text3 h2 {
  width: 496.72px;
  height: 116px;
  font-weight: 700;
  font-size: 60.8412px;
  line-height: 95.52%;
  padding: 43px 31px 25px 31px;
}

.services-text p,
.services-text1 p,
.services-text2 p,
.services-text3 p {
  font-weight: 400;
  font-size: 26.8575px;
  line-height: 95.52%;
  padding: 50px 31px 0 31px;
  width: 496.72px;
}

.services-text a,
.services-text1 a,
.services-text2 a,
.services-text3 a {
  font-weight: 400;
  font-size: 26.8575px;
  line-height: 95.52%;
  width: 149px;
  height: 26px;
  color: #000000;
  text-decoration: none;
}
.block {
  display: flex;
  flex-wrap: wrap;
  margin: 100px auto;
  width: 1118px;
}
.contact {
  text-align: center;
  height: 587px;
}
.contact h1 {
  font-weight: 400;
  font-size: 96px;
  line-height: 95.52%;
  text-align: center;
}
.contact p {
  font-weight: 400;
  font-size: 63.7913px;
}
.footer {
  width: 1519px;
  height: 64.09px;
  background: #ffffff;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-company {
  margin-left: 90px;
  font-weight: 600;
  font-size: 20px;
}
.footer-text {
  display: flex;
  font-weight: 300;
  font-size: 20px;
  margin-right: 50px;
}
#Terms {
  margin-right: 50px;
}
#text0 {
  background: #f2f2f2;
}
#text2 {
  background: #e2e2e2;
}
#text3 {
  background: #c0c0c0;
}
#text4 {
  background: #b4b4b4;
}

@media (max-width: 450px) {
body{
max-width:450px;}
  .menu-li li a {
    font-size: 15px;
  }
  .header-top p,
  a {
    font-size: 15px;
    padding-top: 22px;
    padding-left: 10px;
  }
  .menu {
    padding-right: 20px;
  }
  .header-main,
  .about-text p {
    width: auto;
    font-size: 20px;
    padding: 0 10px;
  }
  .Portfolio-text,
  .about-text h1,
  .services,
  .contact h1 {
    font-size: 47px;
  }
  .content__img {
    height: 200px;
    width: 200px;
  }
  .img {
    width: auto;
    margin: 0 6px;
    margin-bottom: 200px;
  }
  .image-about {
    height: 200px;
    width: 200px;
    margin: 0 100px;
  }
  .img-about {
    flex-direction: column;
    margin: 50px auto;
  }

  .services-text,
  .services-text1,
  .services-text2,
  .services-text3 {
    border: 0.5px solid black;
    height: 350.95px;
    color: #000000;
    width: 250.51px;
    box-sizing: border-box;
  }

  .services-text h2,
  .services-text1 h2,
  .services-text2 h2,
  .services-text3 h2 {
    width: 496.72px;
    height: 116px;
    font-weight: 700;
    font-size: 20.8412px;
    padding: 43px 31px 25px 31px;
  }

  .services-text p,
  .services-text1 p,
  .services-text2 p,
  .services-text3 p {
    font-weight: 400;
    font-size: 15.8575px;
    padding: 10px 31px 0 31px;
    width: 200.72px;
  }

  .services-text a,
  .services-text1 a,
  .services-text2 a,
  .services-text3 a {
    font-weight: 400;
    font-size: 15.8575px;
  }
  .block {
    margin: 100px;
    width: auto;
  }
  .contact p {
    font-size: 30px;
  }
  .footer {
    width: 100%;
    height: 64.09px;
  }
  .footer-company {
    margin-left: 40px;
    font-size: 12px;
  }
  .footer-text {
    font-size: 12px;
    margin-right: 10px;
  }
  .contact {
    height: 284px;
  }
}
